@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0px;
  padding: 0%;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a{
    text-decoration: none;
}

body{
    background-image: url(../Multimedia/fondo.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 30%;
}

.footer__texto{
    font-family: 'Inter';
    font-weight: 300;
    font-size: 1.5rem;
    text-align: left;
    width: 100%;
    color: rgba(96, 67, 167, 1);
    letter-spacing: 0.03rem;
}

.footer__iconos{
    width: 28px;
    margin: 24px 8px;
    cursor: pointer;
}

.footer__bg--inicio{
    position: relative;
    top: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__bg--color{
    width: 100%;
    background: rgba(96, 67, 167, 1);
    padding: 16px 0px;
}