@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

body{
    margin: 30px 80px;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

*{
    font-family: 'Public Sans', sans-serif;
}

section{
    display: flex;
    flex-direction: row;
}

.lineaDivisora{
    background-color:rgba(197, 197, 197, 1);
    height: 1px;
    width: 100%;
    margin: 24px 0px;
}

.oculto{
    display: none;
}

.botonMarca{
    background-color: black;
    border-color: black;
    font-size: 1.6rem;
    font-weight: 400;
    border-radius: 8px;
    padding: 16px 24px;
    cursor: pointer;
    margin-right: 16px;
    color: white;
}

.botonMarca:hover{
    background-color: rgba(52, 52, 52, 1);
    border-color: rgba(52, 52, 52, 1);
}

#contenedorBotonesMarcas{
    width: 100%;
}

.logo{
    height: 60px;
}

h1, h2{
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.6rem;
    margin-top: 40px;
}

main p{
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 2.1rem;
    margin-top: 48px;
}


.cadaCard{
    background-color: white;
    width: 280px;
    border: 1px solid rgba(217, 217, 217, 1);
    border-radius: 8px;
    padding: 24px 24px;
    margin-right: 24px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
}

.cardImagen{
    width: 100%;
}

.cardTextos{
    display: flex;
    justify-items: left;
    flex-direction: column;
}

.cardMarca{
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 24px;
}

.cardTitulo{
    font: 1.8rem;
    font-weight: 700;
    margin: 0px;
}

.cardDetalle{
    font-size: 1rem;
    font-weight: 300;
    margin: 0px;
}

.cardPrecio{
    font-size: 2rem;
    font-weight: 700px;
    margin: 12px 0px 0px 0px;
}

.botonAgregar{
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    background-color: black;
    border-radius: 8px;
    padding: 16px 0px;
    align-items: center;
    color: white;
    border-color: black;
    cursor: pointer;
    margin-top: 24px;
}

.botonAgregar:hover{
    background-color: rgba(52, 52, 52, 1);
    border-color: rgba(52, 52, 52, 1);
}

.botonAgregado{
    background-color: rgba(114, 114, 114, 1);
    border-color: rgba(114, 114, 114, 1);
}

#seleccionarModelo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.botonActivo{
    background-color: black;
    font-size: 1.6rem;
    font-weight: 400;
    border: 1px solid black;
    border-radius: 8px;
    padding: 16px 24px;
    cursor: pointer;
    margin-right: 16px;
    color: white;
}


.contenedorBotonesTarjetas{
    display: flex;
    align-items: center;
}

.botonTarjeta{
    background-color: white;
    border: 1px solid rgba(217, 217, 217, 1);
    font-size: 1.6rem;
    font-weight: 400;
    border-radius: 8px;
    padding: 16px 24px;
    cursor: pointer;
    margin-right: 16px;
    color: black;
    height: 80px;
}

.botonTarjeta:hover{
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.12);
}

.imgTarjeta{
    height: 40px;
    margin: 0px 16px;
}

#tituloTipoDeTarjetaSeleccionada{
    display: flex;
    flex-direction: row;
    background-color: rgba(230, 230, 230, 1);
    width: 60%;
    padding-left: 16px;
}

.detalleFinanciacion{
    margin: 0px 8px;
}

.datosSmartphone{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.datoModelo{
    font-size: 1.6rem;
    font-weight: 700;
    margin: 0px;
}

.datoCantidad{
    font-size: 1.4rem;
    font-weight: 300;
    margin: 0px;
}

.datoPrecioUnitario{
    font-size: 1.4rem;
    font-weight: 300;
    margin: 0px;
}


.botonCuota{
    background-color: black;
    border-color: black;
    font-size: 1.2rem;
    font-weight: 400;
    border-radius: 8px;
    padding: 16px 24px;
    cursor: pointer;
    margin-right: 16px;
    margin-bottom: 16px;
    color: white;
}

.botonCuota:hover{
    background-color: rgba(52, 52, 52, 1);
    border-color: rgba(52, 52, 52, 1);
}


.iconoTacho{
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(217, 217, 217, 1);
    padding: 8px 16px;
    border-radius: 4px;
}

.datoEncabezado{
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.cuotasParaFinanciar{
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 2.1rem;
    margin-top: 8px;
}

#textoCantidad{
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0px 8px 0px 24px;
}

#itemsAgregados{
    display: flex;
    align-items: center;
    width: 40%;
    height: 56px;
    background-color: rgba(234, 234, 234, 1);
    border-radius: 8px;
}

#cantidadItemsAgregados{
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0px;
}